body.kp-default{
    background-color: white;
}

.main-content{
    display: flex;
    flex-direction: column;
    max-width: 1300px;
    width:100%;
    margin: 0 auto;
    padding: 40px;

    h1, h2, h3, h4, .h1, .h2, .h3, .h4{
        margin-bottom: 0;
    }
    h1, .h1{
        font-size: 2.5em;
        line-height: 1.2em;
    }
    h2, .h2{
        font-size: 2.2em;
        line-height: 1.1em;
    }
    h3, .h3{
        font-size: 1.9em;
        line-height: 1em;
    }
    h4, .h4{
        font-size: 1.3em;
        line-height: 1em;
    }

    a,
    a:visited{
        color:var(--cfde-blue);
        text-decoration: none;
    }
    a:hover{
        color:var(--cfde-lite-blue);
    }

    button{
        background: var(--cfde-blue);
        color: white;
        border: 0;
        font-size: 1em;
        cursor:pointer;
    }
    button:hover{
        background: var(--cfde-lite-blue)
    }
    button,
    input,
    select{
        border: 1px solid #aaa;
        border-radius: .5em;
        padding: .5em .8em;
    }
    select:hover{
        background: var(--cfde-lite-blue);
        cursor: pointer;
        color:white;
    }

    button.lg,
    input.lg,
    select.lg{
        font-size: 1.2em;
    }
    button.sm,
    input.sm,
    select.sm{
        font-size: .8em;
    }
    input[type="checkbox"],
    input[type="radio"]{
        accent-color: var(--cfde-blue);
        margin:0;
    }
    fieldset{
        border:0;
        margin:0;
        padding:0;
        padding-block: 0;
        padding-inline: 0;
        margin-inline: 0;
    }
    input:disabled,
    button:disabled,
    select:disabled{
        cursor: not-allowed;
        accent-color: #eee;
        background: #eee;
        color:#aaa;
    }
}