.f-layout{
    /* LAYOUT STYLES */
    .no-events{
        pointer-events: none;
    }
    .yes-events{
        pointer-events: all;
    }
    .f-col{
        display: flex;
        flex-direction: column;
    }
    .f-row{
        display: flex;
        flex-direction: row;
    }

    .f-col.align-v-center{
        justify-content: center;
    }
    .f-row.align-v-center{
        align-items: center;
    }

    .f-col.align-h-center{
        align-items: center;
    }
    .f-row.align-h-center{
        justify-content: center;
    }

    .f-col.align-v-bottom{
        justify-content: flex-end;
    }
    .f-row.align-v-bottom{
        align-items: flex-end;
    }

    .f-col.align-h-bottom{
        align-items: flex-end;
    }
    .f-row.align-h-bottom{
        justify-content: flex-end;
    }

    .f-col.spread-out,
    .f-row.spread-out{
        justify-content: space-between;
    }

    .fill-height{
        height: stretch;
        height: 100%;
    }
    .fill-width{
        width: stretch;
        width: 100%;
    }
    .hug-height{
        height: fit-content;
    }
    .hug-width{
        width: fit-content
    }
    
    .grow-children>*{
        flex: 1;
    }
}