:root {
    --sysbio-black: #000000;
    --sysbio-blue: #0000C6;
    --sysbio-light-blue: #02b9ff;
    --sysbio-pink: #ff00c6;
    --sysbio-white-blue: #efefff;
}

body,
body.kp-default {
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: Roboto, Arial, sans-serif;
    background-color: #fafafa;
    font-size: 14px;
}

.sysbio {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

    * {
        box-sizing: border-box;
    }

    h1 {
        font-size: 1.7rem;
    }

    h2 {
        font-size: 1.4rem;
    }

    h3 {
        font-size: 1.2rem;
    }

    h4 {
        font-size: 1.1rem;
    }

    a,
    a:visited {
        color: var(--sysbio-blue) !important;
    }
    

    label{
        margin:0;
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .hidden {
        display: none !important;
    }

    .bold {
        font-weight: bold;
    }

    .italic {
        font-style: italic;
    }

    .num {
        font-family: monospace;
    }

    .sysbio-body {
        min-width: 800px;
        max-width: 1400px;
        width: 90vw;
        padding: 115px 0 80px;
        display: flex;
        flex-direction: column;
        align-self: center;
    }

    /* static information pages */
    h2.static-header {
        line-height: 2.75em;
        font-size: 1.75em;
    }

    p.leading-p {
        font-size: 1.25em;
        font-weight: 500;
    }

    .pagination{
        li.page-item .page-link, 
        li.page-item.active .page-link, 
        li.page-item.disabled .page-link {
            border: 0;
            color:black;
        }

        li.page-item .page-link {
            background-color:transparent;
        }
        li.page-item:not(.disabled, .active):hover .page-link {
            background-color: #eee;
            border-radius: 5px;
        }
        li.page-item.disabled .page-link{
            background-color: transparent;
            color: #ddd;
        }
        li.page-item.active .page-link {
            color: black;
            background-color: white;
            border-radius: 5px;
            font-weight: bold;
            box-shadow: 0px 1px 2px 0 black;
        }
    }

    table thead th{
        background-color: #eee;
    }
}
/* Filtering UI  - From CMDKP */
div.filtering-ui-wrapper {
    border: solid 1px #ddd;
    border-radius: 5px;
    background-color: #efefef;
    text-align: center;
    margin-bottom: 10px;
    padding: 3px 0;
    position: relative;
}

div.filtering-ui-wrapper.add-content {
    background-color: #ddefff;
    border: 1px solid #bbdfff;
}

div.filtering-ui-wrapper .filter-by-label {
    font-size: 14px;
    font-weight: 600;
}

div.filtering-ui-wrapper .list-group {
    text-align: left;
}

div.selected-filters-ui-wrapper {
    margin-bottom: 30px;
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    min-height: 1px;
}

div.selected-filters-ui-wrapper .badge-pill {
    font-size: 12px;
    font-weight: 400;
    margin: 0 3px;
}

div.filtering-ui-content {
    width: auto !important;
    display: block;
}

div.filtering-ui-content .divider.col {
    width: 1px !important;
    height: 61px;
    padding: 0 1px 0 0;
    background-color: #aaa;
    margin-bottom: -17px;
    margin-left: 8px;
    margin-right: 8px;
}

div.filtering-ui-content .divider.col .or-text {
    display: block;
    position: absolute;
    left: -8px;
    top: 35%;
    font-size: 10px;
    background-color: #aaa;
    color: #fff;
    padding: 2px 2px 1px 2px;
    border-radius: 14px;
}

#pageSearchParameters .divider.col {
    width: 1px !important;
    height: 61px;
    padding: 0 1px 0 0;
    background-color: #fff;
    margin-bottom: -17px;
    margin-left: 8px;
    margin-right: 8px;
}

#pageSearchParameters .divider.col .or-text {
    display: block;
    position: absolute;
    left: -6px;
    top: 35%;
    font-size: 10px;
    background-color: #666;
    color: #fff;
    padding: 2px 2px 1px 2px;
    border-radius: 14px;
    width: 18px;
    font-weight: 500;
    height: 18px;
}

#pageSearchParameters .btn.go {
    border: 1px solid #ced4da;
    border-radius: 0.25em;
    height: 30px;
    margin-top: -2px !important;
}

div.filtering-ui-content div.col {
    display: inline-block !important;
    width: auto !important;
    font-size: 14px;
    padding: 5px 7px;
}

div.filtering-ui-content div.col.hidden-search {
    display: none !important;
}

div.filtering-ui-content div.col .label {
    font-weight: 600;
}

span div.label {
    font-size: 14px;
    font-weight: 600;
}

div.filtering-ui-content div.col .form-control,
div.filtering-ui-content div.col select,
div.filtering-ui-content div.col input {
    height: 30px;
    width: 175px;
    font-size: 14px;
}

div.filtering-ui-content div.col input.or-half-gt,
div.filtering-ui-content div.col input.or-half-lt {
    width: 70px;
}

div.filtering-ui-content div.col.filter-col-md .form-control,
div.filtering-ui-content div.col.filter-col-md select,
div.filtering-ui-content div.col.filter-col-md input {
    width: 220px;
    display: inline-block;
}

div.filtering-ui-content div.col.filter-col-lg .form-control,
div.filtering-ui-content div.col.filter-col-lg select,
div.filtering-ui-content div.col.filter-col-lg input {
    width: 300px !important;
    display: inline-block;
}

div.filtering-ui-content div.filter-col-sm .form-control,
div.filtering-ui-content div.col.filter-col-sm select,
div.filtering-ui-content div.col.filter-col-sm input {
    width: 110px !important;
    display: inline-block;
}

.help-content.filter-wrapper-help {
    display: block !important;
    position: absolute;
    top: 2px;
    left: 5px;
}

.help-content.filter-wrapper-help .help-content-caller.hover {
    padding: 0.075em 0.525em 0.075em 0.525em !important;
}

.btn.btn-sm.btn-2-vptz {
    height: 30px;
    font-size: 12px;
    margin-top: -1px;
    background-color: #a0d7ff;
    border: solid 1px #30b7f6;
    color: #0087c6 !important;
}

.btn.btn-sm.btn-2-vptz:hover {
    background-color: #30b7f6;
    border: solid 1px #30b7f6;
    color: #fff !important;
}