.phenotype-group.ANTHROPOMETRIC { background-color: #048845; }
.phenotype-group.ATRIAL.FIBRILLATION { background-color: #7aaa1c; }
.phenotype-group.CARDIOVASCULAR { background-color: #6FC7B6; }
.phenotype-group.ECG.TRAITS { background-color: #8490C8; }
.phenotype-group.GLYCEMIC { background-color: #9F78AC; }
.phenotype-group.HEMORRHAGIC.STROKE { background-color: #BF61A5; }
.phenotype-group.HEPATIC { background-color: #F88084; }
.phenotype-group.INFLAMMATORY.BOWEL { background-color: #007bff; }
.phenotype-group.ISCHEMIC.STROKE { background-color: #EE3124; }
.phenotype-group.LIPIDS { background-color: #fAA553; }
.phenotype-group.LUNG { background-color: #0000ff; }
.phenotype-group.METABOLITE { background-color: #fcc500; }
.phenotype-group.MRI.TRAITS { background-color: #F5A4C7; }
.phenotype-group.MUSCULOSKELETAL { background-color: #aec6a1; }
.phenotype-group.NEUROLOGICAL { background-color: #33ff00; }
.phenotype-group.OCULAR { background-color: #ccc698; }
.phenotype-group.OTHER { background-color: #B4B4B4; }
.phenotype-group.PSYCHIATRIC { background-color: #5555FF; }
.phenotype-group.RENAL { background-color: #ff55ff; }
.phenotype-group.SLEEP.AND.CIRCADIAN { background-color: #D5A768; }
.phenotype-group.STROKE { background-color: #cccc00; }
.phenotype-group.TYPE.DIABETES { background-color: #639bc0; }
.phenotype-group.HEMATOLOGICAL { background-color: #aa0000; }
.phenotype-group.NON-ADDITIVE.EFFECTS { background-color: #770000; }

.border-color.ANTHROPOMETRIC { border-color: #048845; }
.border-color.ATRIAL.FIBRILLATION { border-color: #7aaa1c; }
.border-color.CARDIOVASCULAR { border-color: #6FC7B6; }
.border-color.ECG.TRAITS { border-color: #8490C8; }
.border-color.GLYCEMIC { border-color: #9F78AC; }
.border-color.HEMORRHAGIC.STROKE { border-color: #BF61A5; }
.border-color.HEPATIC { border-color: #F88084; }
.border-color.INFLAMMATORY.BOWEL { border-color: #007bff; }
.border-color.ISCHEMIC.STROKE { border-color: #EE3124; }
.border-color.LIPIDS { border-color: #fAA553; }
.border-color.LUNG { border-color: #0000ff; }
.border-color.METABOLITE { border-color: #fcc500; }
.border-color.MRI.TRAITS { border-color: #F5A4C7; }
.border-color.MUSCULOSKELETAL { border-color: #aec6a1; }
.border-color.NEUROLOGICAL { border-color: #33ff00; }
.border-color.OCULAR { border-color: #ccc698; }
.border-color.OTHER { border-color: #B4B4B4; }
.border-color.PSYCHIATRIC { border-color: #5555FF; }
.border-color.RENAL { border-color: #ff55ff; }
.border-color.SLEEP.AND.CIRCADIAN { border-color: #D5A768; }
.border-color.STROKE { border-color: #cccc00; }
.border-color.TYPE.DIABETES { border-color: #639bc0; }
.border-color.HEMATOLOGICAL { border-color: #aa0000; }
.border-color.NON-ADDITIVE.EFFECTS { border-color: #770000; }

.reference.color-0 { background-color: #007bff; }
.reference.color-1 { background-color: #048845; }
.reference.color-2 { background-color: #8490C8; }
.reference.color-3 { background-color: #BF61A5; }
.reference.color-4 { background-color: #EE3124; }
.reference.color-5 { background-color: #FCD700; }
.reference.color-6 { background-color: #5555FF; }
.reference.color-7 { background-color: #7aaa1c; }
.reference.color-8 { background-color: #9F78AC; }
.reference.color-9 { background-color: #F88084; }
.reference.color-10 { background-color: #F5A4C7; }
.reference.color-11 { background-color: #CEE6C1; }
.reference.color-12 { background-color: #cccc00; }
.reference.color-13 { background-color: #6FC7B6; }
.reference.color-14 { background-color: #D5A768; }
.reference.color-15 { background-color: #D4D4D4; }

.reference.bg-color-0 { background-color: #007bff30; }
.reference.bg-color-1 { background-color: #04884530; }
.reference.bg-color-2 { background-color: #8490C830; }
.reference.bg-color-3 { background-color: #BF61A530; }
.reference.bg-color-4 { background-color: #EE312430; }
.reference.bg-color-5 { background-color: #FCD70030; }
.reference.bg-color-6 { background-color: #5555FF30; }
.reference.bg-color-7 { background-color: #7aaa1c30; }
.reference.bg-color-8 { background-color: #9F78AC30; }
.reference.bg-color-9 { background-color: #F8808430; }
.reference.bg-color-10 { background-color: #F5A4C730; }
.reference.bg-color-11 { background-color: #CEE6C130; }
.reference.bg-color-12 { background-color: #cccc0030; }
.reference.bg-color-13 { background-color: #6FC7B630; }
.reference.bg-color-14 { background-color: #D5A76830; }
.reference.bg-color-15 { background-color: #D4D4D430; }

.text.color-0 { color: #007bff; }
.text.color-1 { color: #048845; }
.text.color-2 { color: #8490C8; }
.text.color-3 { color: #BF61A5; }
.text.color-4 { color: #EE3124; }
.text.color-5 { color: #FCD700; }
.text.color-6 { color: #5555FF; }
.text.color-7 { color: #7aaa1c; }
.text.color-8 { color: #9F78AC; }
.text.color-9 { color: #F88084; }
.text.color-10 { color: #F5A4C7; }
.text.color-11 { color: #CEE6C1; }
.text.color-12 { color: #cccc00; }
.text.color-13 { color: #6FC7B6; }
.text.color-14 { color: #D5A768; }
.text.color-15 { color: #D4D4D4; }

.text.color-0-bg { background-color: #007bff40; }
.text.color-1-bg { background-color: #04884540; }
.text.color-2-bg { background-color: #8490C840; }
.text.color-3-bg { background-color: #BF61A540; }
.text.color-4-bg { background-color: #EE312440; }
.text.color-5-bg { background-color: #FCD70040; }
.text.color-6-bg { background-color: #5555FF40; }
.text.color-7-bg { background-color: #7aaa1c40; }
.text.color-8-bg { background-color: #9F78AC40; }
.text.color-9-bg { background-color: #F8808440; }
.text.color-10-bg { background-color: #F5A4C740; }
.text.color-11-bg { background-color: #CEE6C140; }
.text.color-12-bg { background-color: #cccc0040; }
.text.color-13-bg { background-color: #6FC7B640; }
.text.color-14-bg { background-color: #D5A76840; }
.text.color-15-bg { background-color: #D4D4D440; }


.effect.positive { color: #048845; }
.effect.negative { color: #EE3124; }
