.phenotype-group.ANTHROPOMETRIC, .reference.color-1 { background-color: #048845; }
.phenotype-group.ATRIAL.FIBRILLATION, .reference.color-2 { background-color: #9ACA3C; }
.phenotype-group.CARDIOVASCULAR, .reference.color-3 { background-color: #6FC7B6; }
.phenotype-group.ECG.TRAITS, .reference.color-4 { background-color: #8490C8; }
.phenotype-group.GLYCEMIC, .reference.color-5 { background-color: #9F78AC; }
.phenotype-group.HEMORRHAGIC.STROKE, .reference.color-6 { background-color: #BF61A5; }
.phenotype-group.HEPATIC, .reference.color-7 { background-color: #F88084; }
.phenotype-group.ISCHEMIC.STROKE, .reference.color-8 { background-color: #EE3124; }
.phenotype-group.LIPIDS, .reference.color-9 { background-color: #fAA553; }
.phenotype-group.METABOLITE, .reference.color-10 { background-color: #FCD700; }
.phenotype-group.MRI.TRAITS, .reference.color-11 { background-color: #F5A4C7; }
.phenotype-group.MUSCULOSKELETAL, .reference.color-12 { background-color: #CEE6C1; }
.phenotype-group.OCULAR, .reference.color-13 { background-color: #FFF9B8; }
.phenotype-group.OTHER, .reference.color-14 { background-color: #D4D4D4; }
.phenotype-group.PSYCHIATRIC, .reference.color-15 { background-color: #5555FF; }
.phenotype-group.RENAL, .reference.color-16 { background-color: #FACACC; }
.phenotype-group.SLEEP.AND.CIRCADIAN, .reference.color-17 { background-color: #D5A768; }
.phenotype-group.STROKE, .reference.color-18 { background-color: #FFFF00; }
