#table-filter-tabs {
	padding: 10px !important;
}
#table-filter-tabs a {
	color: black !important;
}
.gray-box {
	background-color: lightgray;
	min-height: 5em;
	border-radius: 5px;
}
.gray-box label {
    font-weight: bold;
}
.gray-box label input, .gray-box label textarea {
    display: block;
}
.gray-box select {
    display: block;
}
.flat-box {
    width: 250px;
    overflow: scroll;
}
.flex-large {
    flex: 5
}
.flex-med {
    flex: 3
}
.flex-small {
    flex: 1
}
.add {
    display: inline;
    background-color: lightgray !important;
    border: none;
    color: black !important;
    font-size: large;
    font-weight: bold;
    height: 100%;
}
.add:active:not(:disabled) {
    color: white !important;
}
.fieldlabel {
    font-weight: bold;
}
.fieldlist {

    overflow-y: scroll;
    overflow-x: scroll;
}
.fieldlist ul {
    list-style: none;
    margin-left: -1rem;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 5em;
}
.fieldlist table {
    width: 95%;
}
.fieldlist table tbody {
    background-color: white;
    border: 1px solid gray;
    border-radius: 2px;
}

.fieldlist table input {
    width: 2em;
}

.warning {
	color: red;
	font-size: smaller;
}
.triplebutton {
    padding-top: 20px;
}
.triplebutton button {
    display: block;
    border: none;
    font-size: smaller;
    width: 80px;
    height: 20px;
    margin: 5px;
    padding: 0px
}
.field-delete {
	/*font-size: smaller;*/
    color: black;
    border: none;
	height: 100%;
	width: 1em;
    text-align: center;
    padding: 0px;
	background-color: white;

}