#table-filter-tabs {
	padding: 10px !important;
}
#table-filter-tabs a {
	color: black !important;
}
.gray-box {
	background-color: lightgray;
	min-height: 5em;
	border-radius: 5px;
}
.gray-box label {
    font-weight: bold;
}
.gray-box select {
    display: block;
}
.flat-box {
    width: 250px;
}
.flat-box option selected {
    color: lightblue;
}
.add {
    background-color: lightgray !important;
    border: none;
    color: black !important;
    font-size: large;
    font-weight: bold;
    height: 100%;
}
.add:active:not(:disabled) {
    color: white !important;
}
.fieldlabel {
    font-weight: bold;
}
.fieldlist {
    background-color: white;
    border: 1px solid black;
}
.fieldlist ul {
    list-style: none;
    margin-left: -1rem;
}