.datasets-list-table {
    width: 100%;
}

.datasets-list-table.new {
    margin-bottom: 50px;
}

.datasets-list-table th,
.datasets-list-table.new th {
    font-size: 14px !important;
    color: #0097d6 !important;
    font-weight: 300 !important;
    background: none !important;
    cursor: pointer;
}

.each-dataset-wrapper {
    border-bottom: solid 1px #ddd;
    position: relative;
}

.datasets-list-table td.column {
    font-size: 14px;
    padding: 6px 0 3px 0;
}

.datasets-list-table td.name {
    padding-top: 3px;
    font-size: 18px;
    width: 50%;
}

.datasets-list-table td.access {
    width: 12%;
}

.datasets-list-table td.access span {
    color: #02ab02;
}

.datasets-list-table td.access span.Pre-publication {
    color: #FF0000;
}

.datasets-list-table td.samples {
    width: 7%;
}

.datasets-list-table td.ancestry {
    width: 10%;
}

.datasets-list-table td.type {
    width: 20%;
}

.datasets-list-table.md td.name {
    width: 50%;
}

.datasets-list-table.md td.access {
    width: 10%;
}

.datasets-list-table.md td.samples {
    width: 7%;
}

.datasets-list-table.md td.ancestry {
    width: 7%;
}

.datasets-list-table.md td.type {
    width: 16%;
}

.datasets-list-table.md td.disease-group,
.datasets-list-table.md th.disease-group {
    width: 10%;
    text-align: center;
}

.each-dataset-wrapper.header td.column {
    font-size: 14px;
    color: #aaa;
}

.datasets-list-header-small {
    font-size: 65%;
    font-weight: 300;
    color: #aaa;
}

.community-icon {
    display: block;
    width: 21px;
    height: 21px;
    background-repeat: no-repeat;
    background-position: center;
    margin: auto;
}

.community-icon.t1d {
    background-image: url(../images/group_t1d.svg);
}

.community-icon.t2d {
    background-image: url(../images/group_t2d.svg);
}

.community-icon.stroke,
.community-icon.cd {
    background-image: url(../images/group_cd.svg);
}

.community-icon.cvd,
.community-icon.mi {
    background-image: url(../images/group_cvd.svg);
}

.community-icon.sleep {
    background-image: url(../images/group_sleep.svg);
}

.community-icon.ndkp {
    background-image: url(../images/group_ndkp.svg);
}

.community-icon.msk {
    background-image: url(../images/group_msk.svg);
}

.community-icon.lung {
    background-image: url(../images/group_lung.svg);
}

.community-icon.autoimmune {
    background-image: url(../images/group_autoimmune.svg);
}

.community-icon.reproductive {
    background-image: url(../images/group_reproductive.svg);
}

.community-icon.ocular {
    background-image: url(../images/group_ocular.svg);
}

.datasets-filter-wrapper {
    margin-top: 15px;
}

.btn-datatype,
.btn-phenotype,
.btn-disease-group {
    padding: 5px 10px;
    line-height: 1.5;
    border-radius: 3px;
    background-color: rgb(255, 255, 204);
    color: rgb(0, 0, 0);
    border: solid 1px #fc4 !important;
    font-size: 13px !important;
    padding: 2px 20px;
    margin-right: 3px !important;
    margin-bottom: 3px !important;
}

.btn-disease-group {
    background-color: rgb(228, 242, 231);
    color: rgb(0, 0, 0);
    border: solid 1px #82ca9c !important;
}

.btn-phenotype {
    background-color: rgb(204, 238, 255);
    color: rgb(0, 0, 0);
    border: solid 1px #4EAFD4 !important;
}

.btn-disease-group:hover,
.btn-disease-group.selected,
.btn-disease-group.selected:active,
.btn-disease-group.selected:focus {
    background-color: rgb(43, 182, 115);
    color: rgb(255, 255, 255);
}

.btn-datatype:hover,
.btn-datatype.selected,
.btn-datatype.selected:active,
.btn-datatype.selected:focus {
    background-color: rgb(246, 137, 32);
    color: rgb(255, 255, 255);
}

.btn-phenotype:hover,
.btn-phenotype.selected,
.btn-phenotype.selected:active,
.btn-phenotype.selected:focus {
    background-color: rgb(52, 135, 175);
    color: rgb(255, 255, 255);
}