.forest-plot-card-wrapper {
    padding: 10px 0 30px 0;
}

.forest-plot-html-wrapper {
    margin: 30px 40px;
    padding: 10px 100px 10px 100px;
    border: solid 1px #ddd;
    position: relative;
}

.start-min,
.end-max,
.beta-0,
.min-value,
.max-value {
    font-size: 14px;
    position: absolute;
    top: -20px;
}

.beta-0 {
    height: calc(100% + 20px);
    border-left: dashed 2px #dfdfdf;
}

.beta-0 label {
    display: block;
    position: absolute;
}

.start-min {
    left: 100px;
}

.beta--1 {
    position: absolute;
    left: 0;
    width: 100px;
    background-color: #00000010;
    height: 100%;
    top: 0;
    border-right: dashed 2px #dfdfdf;
    border-left: none;
    padding: 10px 0 10px 0;
}

.end-max {
    right: 100px;
}

.beta-1 {
    position: absolute;
    right: 0%;
    width: 100px;
    background-color: #00000010;
    height: 100%;
    top: 0;
    border-left: dashed 2px #dfdfdf;
    border-right: none;
    padding: 10px 0 10px 0;
}

.min-value {
    left: 0;
}

.max-value {
    right: 0;
}

.forest-plot-html-row {
    position: relative;
    width: 100%;
    height: 20px;
}

.forest-plot-html-row:hover {
    background-color: #e9e9e9;
}

.forest-plot-html-item {
    position: absolute;
    border-top: solid 1px #aaa;
    margin-top: 10px;
    margin-bottom: 7px;
}

.forest-plot-html-row .beta-box,
.forest-plot-html-legend-wrapper .beta-box {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #cccccc;
    top: 4px;
}

.forest-plot-html-row .beta-box.p-significant,
.forest-plot-html-legend-wrapper .beta-box.p-significant {
    background-color: #ff0000;
}

.forest-plot-html-row .beta-box.p-moderate,
.forest-plot-html-legend-wrapper .beta-box.p-moderate {
    background-color: #ff9999;
}

.forest-plot-html-row .beta-box.p-weak,
.forest-plot-html-legend-wrapper .beta-box.p-weak {
    background-color: #ffcc88;
}

.forest-plot-html-item .phenotype-name {
    position: absolute;
    white-space: nowrap;
    font-size: 14px;
    top: -12px;
}

.forest-plot-html-item .phenotype-name.left {
    right: calc(100% + 5px);
}

.forest-plot-html-item .phenotype-name.right {
    left: calc(100% + 5px);
}

.forest-plot-html-item .phenotype-name.off-chart {
    right: 0;
    left: 0;
    top: 1px;
}

.forest-plot-html-item .phenotype-name.off-chart::before {
    content: "*";
    color: #ff0000;
}

.forest-plot-html-item.too-wide-item .phenotype-name {
    display: block;
    overflow: hidden;
    max-width: 10%;
    text-overflow: ellipsis;
}

.forest-plot-html-item .phenotype-name .order-value {
    white-space: nowrap;
    font-size: 12px;
    color: #aaaaaa;
}

.phenotype-group-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    /*left:calc(100% - 20px);*/
    top: 4px;
}

.phenotype-group-dot .phenotype-group-name {
    display: block;
    position: absolute;
    right: 15px;
    font-size: 13px;
    top: -3px;
    white-space: nowrap;
}

.phenotype-group-dot:hover .phenotype-group-name {
    display: block;
}


.forest-plot-html-row .phenotype-group-dot {
    display: block !important;
    position: absolute;
    right: -15px !important;
    /*position: relative;
    z-index: 10000;*/
}

.forest-plot-html-row .phenotype-group-dot.hidden .phenotype-group-name {
    display: none;
}

.forest-plot-html-row:hover .phenotype-group-dot.hidden .phenotype-group-name {
    /*display: block;*/
}

.phenotype-group-dot.ANTHROPOMETRIC,
.legend-phenotype-group-dot.ANTHROPOMETRIC {
    background-color: #048845;
}

.phenotype-group-dot.ATRIAL.FIBRILLATION,
.legend-phenotype-group-dot.ATRIAL.FIBRILLATION {
    background-color: #7aaa1c;
}

.phenotype-group-dot.CARDIOVASCULAR,
.legend-phenotype-group-dot.CARDIOVASCULAR {
    background-color: #6FC7B6;
}

.phenotype-group-dot.ECG.TRAITS,
.legend-phenotype-group-dot.ECG.TRAITS {
    background-color: #8490C8;
}

.phenotype-group-dot.GLYCEMIC,
.legend-phenotype-group-dot.GLYCEMIC {
    background-color: #9F78AC;
}

.phenotype-group-dot.HEMORRHAGIC.STROKE,
.legend-phenotype-group-dot.HEMORRHAGIC.STROKE {
    background-color: #BF61A5;
}

.phenotype-group-dot.HEPATIC,
.legend-phenotype-group-dot.HEPATIC {
    background-color: #F88084;
}

.phenotype-group-dot.INFLAMMATORY.BOWEL,
.legend-phenotype-group-dot.INFLAMMATORY.BOWEL {
    background-color: #007bff;
}

.phenotype-group-dot.ISCHEMIC.STROKE,
.legend-phenotype-group-dot.ISCHEMIC.STROKE {
    background-color: #EE3124;
}

.phenotype-group-dot.LIPIDS,
.legend-phenotype-group-dot.LIPIDS {
    background-color: #fAA553;
}

.phenotype-group-dot.LUNG,
.legend-phenotype-group-dot.LUNG {
    background-color: #0000ff;
}

.phenotype-group-dot.METABOLITE,
.legend-phenotype-group-dot.METABOLITE {
    background-color: #fcc500;
}

.phenotype-group-dot.MRI.TRAITS,
.legend-phenotype-group-dot.MRI.TRAITS {
    background-color: #F5A4C7;
}

.phenotype-group-dot.MUSCULOSKELETAL,
.legend-phenotype-group-dot.MUSCULOSKELETAL {
    background-color: #aec6a1;
}

.phenotype-group-dot.NEUROLOGICAL,
.legend-phenotype-group-dot.NEUROLOGICAL {
    background-color: #33ff00;
}

.phenotype-group-dot.OCULAR,
.legend-phenotype-group-dot.OCULAR {
    background-color: #ccc698;
}

.phenotype-group-dot.OTHER,
.legend-phenotype-group-dot.OTHER {
    background-color: #B4B4B4;
}

.phenotype-group-dot.PSYCHIATRIC,
.legend-phenotype-group-dot.PSYCHIATRIC {
    background-color: #5555FF;
}

.phenotype-group-dot.RENAL,
.legend-phenotype-group-dot.RENAL {
    background-color: #ff55ff;
}

.phenotype-group-dot.SLEEP.AND.CIRCADIAN,
.legend-phenotype-group-dot.SLEEP.AND.CIRCADIAN {
    background-color: #D5A768;
}

.phenotype-group-dot.STROKE,
.legend-phenotype-group-dot.STROKE {
    background-color: #cccc00;
}

.phenotype-group-dot.TYPE.DIABETES,
.legend-phenotype-group-dot.TYPE.DIABETES {
    background-color: #639bc0;
}

.phenotype-group-dot.HEMATOLOGICAL,
.legend-phenotype-group-dot.HEMATOLOGICAL {
    background-color: #aa0000;
}

.forest-plot-html-legend-wrapper {
    font-size: 14px;
    /* position: absolute;
    z-index: 10000;
    background-color: white;*/
}

.forest-plot-html-legend-handler {
    padding-left: 20px;
}

.forest-plot-html-legend-content {
    position: relative;
}

.forest-plot-html-legend-content ul {
    list-style: none;
    position: relative;
    margin-bottom: 0;
}

.forest-plot-html-legend-content ul li {
    position: relative;
    display: inline-block;
    padding: 0 10px 0 0px;
}

.forest-plot-html-legend-wrapper .beta-box {
    left: 0px;
}

.forest-plot-html-legend-content ul li .legend-phenotype-group-dot {
    position: absolute;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    left: 0px;
    top: 3px;
}

.forest-plot-html-legend-content ul li span.label {
    margin-left: 17px;
}

.forest-plot-html-wrapper .forest-plot-ui-options {
    position: absolute;
    right: 0;
    top: -25px;
    font-size: 14px;
}

.forest-plot-html-wrapper .forest-plot-ui-options div {
    display: inline-block;
    margin-left: 10px;
}

.forest-plot-ui-options {
    text-align: right;
    font-size: 14px;
}

.forest-plot-ui-options label {
    vertical-align: middle;
    margin-left: 3px;
}

.forest-plot-ui-options input[type=checkbox] {
    border: 1px solid #ced4da;
    border-radius: .25rem;
}

.forest-plot-html-row .forest-plot-more-info {
    position: absolute;
    background-color: #ffffff;
    font-size: 14px;
    color: #000000;
    padding: 5px 10px;
    white-space: nowrap;
    border-radius: 5px;
    display: none;
    z-index: 10;
    top: -17px;
    border: solid 1px #cccccc;
}

.forest-plot-html-row:hover .forest-plot-more-info {
    display: block;
}

.forest-plot-more-info ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.forest-plot-more-info li {
    padding: 0;
    margin: 0;
}

.forest-plot-html-item .forest-plot-more-info.left {
    left: calc(100% + 5px);
}

.forest-plot-html-item .forest-plot-more-info.right {
    right: calc(100% + 5px);
}

.forest-plot-html-item .forest-plot-more-info.off-chart {
    left: 0;
    width: auto !important;
}

.forest-plot-html-item.too-wide-item .forest-plot-more-info.left {
    left: 90%;
}

.forest-plot-html-item.too-wide-item .forest-plot-more-info.right {
    right: 90%;
}