body { background-color: #eee; }

a {  color:#0097d6 !important; }
a:hover { text-decoration: none !important; }

/* front page */
.front-top-banner-mdkp {
    background-image: url(../images/mdkp_front_bg.png), linear-gradient(#0097d6, #8ed8f8);
}

.front-top-banner-cvdkp {
    background-image: url(../images/mdkp_front_bg.png), linear-gradient(#f58752, #fdbc63);
}

.front-top-banner {
    font-size: 16px;
    background-repeat: no-repeat;
    background-position: -130px 130px, top left;
    margin: 0 -15px 0 -15px;
    padding: 30px 0 50px 0;
}

.front-logo-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 900px;
}

.front-logo-img {
    width: 470px;
    padding-right: 30px;
    border-right: solid 1px #fff;
    margin-right: 30px;
    padding: 20px 20px 20px 0;
    float: left;
}

.front-top-banner-cvdkp .front-logo-img {
    width: 430px;
}

.front-banner-btn {
    border-radius: 30px !important;
    width: 250px;
    background: none;
    border: solid 1px #fff !important;
    color: #fff !important;
}

.front-logo-tagline {
    color: #fff;
    width: 400px;
    font-size: 25px;
    display: block;
    float: left;
}

.front-logo-tagline-mdkp {
    transform: translate(0%,15%);
}

.front-logo-tagline-cvdkp {
    transform: translate(0%,29%);
}

.front-banner-ui-tabs {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-top: 70px;
    border-bottom: solid 1px rgba(255,255,255, 1);
    font-size: 45px;
    padding-bottom: 15px;
    color: #fff;
}

.amp-header {
  height: 70px;
  background-image: url(../images/AMP_banner_middle.png);
  background-size: 100% 70px;
}
.amp-banner-right {
  width: 100%;
  height: 70px;
  background-image: url(../images/AMP_banner_right.png);
  background-repeat: no-repeat;
  background-position: right;
}
.amp-banner-left {
  height: 70px;
  background-image: url(../images/AMP_banner_left.png);
  background-repeat: no-repeat;
  background-position: left top;
  padding: 15px 0 0 20px;
}

.amp-banner-left a {
  color: #fff !important;
  font-size: 30px;
  font-weight: 200;
  letter-spacing: 0.01em;
  text-decoration: none;
}

.portals-2-mdkp-logo {
    width: 500px;
}

.mdkp-logo {
    height: 50px;
}

.cvdkp-logo {
    height: 50px;
}

.mdkp-menu-wrapper, .cvdkp-menu-wrapper {
    text-align: right;
}

.mdkp-menu li, .cvdkp-menu li {
    list-style: none;
    display: inline-block;
    padding-top: 15px;
}

.mdkp-menu li a, .cvdkp-menu li a {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: #fff !important;
    font-size: 16px;
    font-weight: 300;
}

.mdkp-menu li a.mdkp-login, .cvdkp-menu li a.cvdkp-login {
    border-left: solid 1px #fff;
}

.mdkp-header, .mdkp-footer {
    background-color: #0097d6;
    height: 50px;
}

.cvdkp-header, .cvdkp-footer {
    background-color:#f58752;
    height: 50px;
}

.mdkp-footer, .cvdkp-footer {
    text-align: center;
    padding-top: 15px;
    color: #fff;
    font-weight: 300;
    font-size: 14px;
}

.mdkp-body, .cvdkp-body {
    background-color: #eee;
    min-height: 400px;
}
.mdkp-card, .cvdkp-card {
    margin-top: 10px;
    margin-bottom: 10px;
}

.portal-front-tabs {
    margin-top: 50px;
}

.portal-front-tabs .nav-tabs .nav-link, .portal-front-tabs .nav-tabs .nav-link.active, .portal-front-tabs .nav-tabs .nav-item.show .nav-link {
    color: rgba(255, 255, 255, .75) !important;
    font-size: 25px;
    background: none;
    border-color: rgba(255, 255, 255, .5);
    border-radius: 0;
    border-top: none;
    margin-right: -1px;
}

.portal-front-tabs .nav-tabs .nav-link.active {
    color: rgba(255, 255, 255, 1) !important;
    background-image: linear-gradient(rgba(255, 255, 255, 0),rgba(255, 255, 255, 0),rgba(255, 255, 255, 0), rgba(255, 255, 255, .5));
}

.portal-front-tabs .tab-content {
    padding-top: 20px;
    padding-bottom: 20px;
}

.portal-front-tabs .tab-content .v-select {
    width: 50%;
    margin: auto;
}

.portal-front-tabs .tab-content .vs__clear {
    width: 20px;
}

.portal-front-tabs .tab-content .vs__open-indicator {
    height: 10px;
}

.portal-front-tabs .tab-content .vs__dropdown-toggle {
    background-color: rgba(255, 255, 255, .75);
    border-color: #fff;
    height: 50px;
}


.gene-page-header .card-body {
    padding: 0px 15px !important;
}

.gene-page-header-title {
    font-size: 12px;
    padding: 2px 0 2px 5px;
    border-bottom: solid 1px #eee;
    border-left: solid 1px #eee;
}

a.edit-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #ddd;
    color: #fff;
    font-size: 12px;
    padding: 2px 5px;
    z-index: 15;
}

.gene-page-header-search-holder {
    position: absolute;
    top: 0;
    left: 0;
    height: 65px;
    width: 100%;
    background-color: #fff;
    font-size: 16px;
}

.gene-page-header-body {
    height: 65px;
    font-size: 25px;
    padding: 12px 0 12px 5px;
    border-left: solid 1px #eee;
}

#phenotypeSearchHolder {
    padding: 15px 10px 15px 10px;
}

#phenotypeSearchHolder .bootstrap-select {
    width: 100%;
}

#phenotypeSearchHolder button.dropdown-toggle {
    border: solid 1px #ccc;
}

#regionSearchHolder .region-search {
    height: 100%;
}

#regionSearchHolder .input-wrapper {
    overflow: hidden;
    display: inline-block;
    min-height: 100%;
    position: relative;
    padding: 0;
    margin: 0;
}

#regionSearchHolder .input-default {
    height: 100%;
    width: 100%;
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    border-left: solid 1px #ddd;
    border-radius: 0;
    font-size: 20px;
}

#regionSearchHolder #regionSearchGo {
    position: absolute;
    padding: 0;
    top: 13px;
    right: 6px;
    height: 40px;
    width: 40px;
    border-radius: 30px;
    background-color: #0097d6;
    border: solid 1px #0097d6;
    text-align: center;
}

.phenotype-with-signal {
    cursor: pointer;
    display: inline-block;
    margin: 0px 10px 10px 0;
    padding: 2px 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    font-size: 13px;
}

.phenotype-with-signal.high {
    background-color: #a0d7ff;
    border: solid 1px #30b7f6;
}

.phenotype-with-signal.moderate {
    background-color: #d0efff;
    border: solid 1px #30b7f6;
}

.variant-table-row.high {
    background-color: #d0efff;
}

.c3 .c3-axis-x path, .c3 .c3-axis-x line {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
}

.c3 .c3-axis-x .c3-axis-x-label, .c3 .c3-axis-y .c3-axis-y-label {
    font-size: 12px;
}

.c3 .c3-axis-y path, .c3 .c3-axis-y line {
    fill: none;
    stroke: #000;
    stroke-width: 0.5px;
}

.static-content-section {
    padding-top: 50px;
}

#news-feed {
    position: relative;
    height: 140px;
    margin-bottom: 30px;
}

#news-feed ul.news-items {
    list-style: none;
    padding: 0;
    margin:0;
}

#news-feed ul.news-items li {
    padding: 0;
    margin:0;
    display: none;
}

#news-feed ul.news-items li:first-child {
    display: block;
}

#news-feed ul.news-items li span {
}

#news-feed ul.news-items li span p {
    display: contents;
}

#news-feed .news-items-ui {
    position: absolute;
    top: 10px;
    right: 0;
}

#news-feed .news-items-ui a {
    display: inline-block;
    width: 16px;
    height: 16px;
    border-radius: 8px;
    background-color: #aaa;
    color: #fff !important;
    font-size: 10px;
    margin-left: 7px;
    font-size: 12px;
    text-align: center;
}

#news-feed .news-items-ui a.on-view {
    background-color: #0097d6;
}

svg {
	/*width: 100%;
	height: 100%;*/
}

path.slice{
	stroke-width:2px;
}

polyline{
	opacity: .3;
	stroke: black;
	stroke-width: 2px;
	fill: none;
}

.slice-value {
    font-family: "Oswald";
    font-size: 30px;
}

.slice-label {
    font-size: 12px;
}
