.pws-phenotype-group.ANTHROPOMETRIC div.pws-progress-bar {
    background-color: #048845;
}
.pws-phenotype-group.ATRIAL.FIBRILLATION div.pws-progress-bar {
    background-color: #7aaa1c;
}
.pws-phenotype-group.CARDIOVASCULAR div.pws-progress-bar {
    background-color: #6fc7b6;
}
.pws-phenotype-group.ECG.TRAITS  div.pws-progress-bar {
    background-color: #8490c8;
}
.pws-phenotype-group.GLYCEMIC  div.pws-progress-bar {
    background-color: #9f78ac;
}
.pws-phenotype-group.HEMORRHAGIC.STROKE  div.pws-progress-bar {
    background-color: #bf61a5;
}
.pws-phenotype-group.HEPATIC  div.pws-progress-bar {
    background-color: #f88084;
}
.pws-phenotype-group.ISCHEMIC.STROKE  div.pws-progress-bar {
    background-color: #ee3124;
}
.pws-phenotype-group.INFLAMMATORY.BOWEL  div.pws-progress-bar {
    background-color: #007bff;
}
.pws-phenotype-group.LIPIDS  div.pws-progress-bar {
    background-color: #faa553;
}
.pws-phenotype-group.LUNG  div.pws-progress-bar {
    background-color: #0000ff;
}
.pws-phenotype-group.METABOLITE  div.pws-progress-bar {
    background-color: #fcc500;
}
.pws-phenotype-group.MRI.TRAITS  div.pws-progress-bar {
    background-color: #f5a4c7;
}
.pws-phenotype-group.MUSCULOSKELETAL  div.pws-progress-bar {
    background-color: #aec6a1;
}
.pws-phenotype-group.NEUROLOGICAL  div.pws-progress-bar {
    background-color: #33ff00;
}
.pws-phenotype-group.OCULAR  div.pws-progress-bar {
    background-color: #ccc698;
}
.pws-phenotype-group.OTHER  div.pws-progress-bar {
    background-color: #b4b4b4;
}
.pws-phenotype-group.PSYCHIATRIC  div.pws-progress-bar {
    background-color: #5555ff;
}
.pws-phenotype-group.RENAL  div.pws-progress-bar {
    background-color: #ff55ff;
}
.pws-phenotype-group.SLEEP.AND.CIRCADIAN div.pws-progress-bar {
    background-color: #d5a768;
}
.pws-phenotype-group.STROKE div.pws-progress-bar {
    background-color: #cccc00;
}

.new-phenotypes-with-signal-wrapper {
    height: 400px;
    border: solid 1px #ccc;
    border-left: none;
    border-right: none;
    box-shadow: inset 0px 0px 3px rgba(0,0,0,0.25);
    background-color: #f5f5f5;
    border-radius: 5px;
    overflow: auto;
}

.pws-phenotype-group-wrapper {
    padding: 0 !important;
    width: 55%;
    position: relative;
    display: inline-block;
}
.pws-phenotype-group-header {
    cursor: pointer;
    display: inline-block;
    text-align: left;
    padding-top: 2px;
    position: relative;
    width: 20%;
    padding-left: 15px;
    vertical-align: top;
}

.pws-phenotype-group-header .b-icon.bi {
    display: inline-block;
    overflow: visible;
    vertical-align: -0.15em;
    position: absolute;
    right: 5px;
    top: 5px;
}

.pws-progress {
    background-color: transparent;
    border-radius: 0;
    font-size: 0.75rem;
}

.pws-phenotype-row {
    margin-bottom: 5px;
}

.pws-progress-bar {
    height: 25px;
}

.pws-progress-bar:hover {
    background-image: linear-gradient(
        45deg,
        hsla(0, 0%, 100%, 0.15) 25%,
        transparent 0,
        transparent 50%,
        hsla(0, 0%, 100%, 0.15) 0,
        hsla(0, 0%, 100%, 0.15) 75%,
        transparent 0,
        transparent
    );
    background-size: 1rem 1rem;
    /*cursor: help;*/
}

.pws-phenotype-summary-row {
    position: absolute;
    top: 2px;
    height: 22px;
}

.pws-phenotype-summary-row > .pws-progress-bar {
    background-color: transparent !important;
}

span.marker {
    position: absolute;
    width: 3px;
    height: 17px;
    background-color: rgba(255, 255, 255, 0.25);
    z-index: 5;
    right: 0;
    visibility: visible;
    mix-blend-mode: screen;
    top: 0.1rem;
}

.pws-phenotype-summary-row:hover  span.marker {
    background-color: rgba(255, 200, 0, 1);
    mix-blend-mode: normal;
    border-right: solid 1px #333;
}

.pws-phenotype-summary-row span.marker > span.tool-tip {
    display: none;
    position: absolute;
    background-color: #000000;
    color: #fff;
    top: -30px;
    left:-30px;
    font-size: 14px;
    padding: 3px 10px;
    z-index: 20;
    border-radius: 5px;
    white-space: nowrap;
}

.pws-phenotype-summary-row:hover span.marker > span.tool-tip {
    display: block;
}

.bar-desc {
    position: absolute;
    font-size: 1em;
    white-space: nowrap;
    font-weight: bold;
    color: #000000;
}

.bar-desc:hover {
    color: #5555ff;
    cursor: pointer;
}

.highlight-bar {
    position: absolute;
    left: 0;
    color: blue;
    height: 1.5rem;
}

.highlight-bar .b-tooltip {
    right: 0 !important;
}

.hidden {
    display: none;
}

.legend {
    height: 10px;
    border-color: #000000;
    border-style: solid;
    border-width: 0 1px 1px 1px;
    margin-bottom: 5px;
}

.legend-scale {
    text-align: center;
    font-size: 14px;
}
.legend-left {
    position: absolute;
    left: 2px;
}
.legend-center {
    text-align: center;
    font-weight: bold;
    margin: auto;
    width: 50%;
}
.legend-right {
    position: absolute;
    right: 2px;
}
.collapse .progress {
    margin: 10px auto;
}

.bar-desc > .options-4-actions {
    display: none;
    position: absolute;
    background-color: #000000;
    color:#fff;
    font-weight: 400;
    padding: 10px;
    border-radius: 5px;
    left:50%;
    z-index: 20;
}

.bar-desc:hover > .options-4-actions {
    display: block;
}

.bar-desc:hover > .options-4-actions > div:hover {
    color: #aaaaff;
}
