.b-table-details div.details {
    margin-left: 20px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-bottom: 10px;
    border-left: 5px solid #eeeeee;
    border-bottom: 15px solid #eeeeee;
    background-color: #fafafa;
}

.b-table-details div.details ul {
    margin: 0 3rem 0 auto;
}

.b-table-details div.details .page-link {
    border: transparent !important;
    height: auto;
}

.b-table-details div.details .page-item.disabled,
.b-table-details div.details .page-link {
    background-color: transparent;
}

.b-table-details div.details .page-item:not(.active) .page-link:hover {
    background-color: #eee;
}

div.details .sub-details {
    border: unset;
    border-radius: unset;
    border-bottom: 3px solid #eee;
}

.b-popover {
    background-color: #000;
}

.b-popover .popover-body a.list-group-item {
    padding: 0.125rem 0.5rem;
    background-color: #000000;
    color: #ffffff !important;
}

.b-popover .popover-body a.list-group-item:hover {
    /*background-color: #fcfcfc;
    color: blue !important;*/
    color: #aaccff !important;
    /*background-color: #fff;*/
    border-top: solid 1px #ddd;
    border-bottom: solid 1px #ddd;
}

.bs-popover-top > .arrow::after,
.bs-popover-auto[x-placement^="top"] > .arrow::after {
    border-top-color: #000000;
}

.sub-details .page-item.active .page-link,
.sub-details .page-item .page-link {
    border-radius: unset;
    font-size: 0.75rem;
    color: #52a549;
}

.sub-details .page-item.active .page-link {
    background-color: #4b9742;
    color: #fff;
    border-color: transparent;
}

.b-table div.pValue {
    width: 100%;
    height: 100%;
    background-image: url("/images/green_block.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: left;
}

.table-sm td.border-color {
    padding: 0;
    /* height: auto;
    min-height: 1px; */
    height: 1px;
    /* for child to take full height */
    vertical-align: middle;
}

td.border-color > div {
    border-left-width: 5px;
    border-left-style: solid;
    border-color: #eeeeee;
    height: auto;
    padding: 0.3rem;
}

#variant-search thead tr:hover,
#variant-search tr.b-table-details:hover {
    background-color: inherit;
}

.row-pick {
    background-color: lightcyan;
}

.table thead th {
    vertical-align: top;
}

.external_source {
    white-space: nowrap;
}

.external_source .badge {
    vertical-align: middle;
    font-size: 0.5rem;
    cursor: help;
}

.border-color.MODIFIER {
    border-color: rgb(161, 166, 171);
}

.border-color.LOW {
    border-color: rgb(135, 196, 137);
}

.border-color.MODERATE {
    border-color: rgb(247, 217, 102);
}

.border-color.HIGH {
    border-color: rgb(217, 130, 135);
}

.border-color.NONE {
    border-color: transparent;
}

.legends .btn-mini {
    border-left-width: thick;
}

.nowrap {
    white-space: nowrap;
}


.table.b-table>thead>tr>[aria-sort="none"],
.table.b-table>thead>tr>[aria-sort=none] {
    /*background-image: none;*/
}

#covariances tr.b-table-details table td:first-child {
    padding-left: 0.3rem;
}

#covariances div.row-details-table {
    margin-left: 15px;
    border-left: 4px solid lightgray;
    width: calc(100% - 15px);
}

/* 
b-table sort icons tweak 
removes background image from header th elements
*/

.table.b-table > thead > tr > [aria-sort=ascending], 
.table.b-table > tfoot > tr > [aria-sort=ascending]{
    background-image: none;
}

.table.b-table > thead > tr > [aria-sort=descending], 
.table.b-table > tfoot > tr > [aria-sort=descending]{
    background-image: none;
}

.table.b-table > thead > tr > [aria-sort=none], 
.table.b-table > tfoot > tr > [aria-sort=none]{
    background-image: none;
}

/* 
moves background image to label div
adjust width of label to fit text + icon
*/

.table.b-table.table-sm > thead > tr > [aria-sort]:not(.b-table-sort-icon-left) > div:first-child, 
.table.b-table.table-sm > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) > div:first-child{
    background-position: right calc(0.3rem / 2) center;
    padding-right: calc(0.3rem + 0.75em);
}

.table.b-table > thead > tr > [aria-sort]:not(.b-table-sort-icon-left) > div:first-child, 
.table.b-table > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) > div:first-child{
    background-position: right calc(0.75rem / 2) center;
    padding-right: calc(0.75rem + 0.65em);
}

.table.b-table > thead > tr > [aria-sort]:not(.b-table-sort-icon-left) > div:first-child, 
.table.b-table > tfoot > tr > [aria-sort]:not(.b-table-sort-icon-left) > div:first-child{
    cursor: pointer;
    background-image: none;
    background-repeat: no-repeat;
    background-size: 0.65em 1em;
    width: fit-content;
}

.table.b-table > thead > tr > [aria-sort=ascending]:not(.b-table-sort-icon-left) > div:first-child, 
.table.b-table > tfoot > tr > [aria-sort=ascending]:not(.b-table-sort-icon-left) > div:first-child{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='black' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='black' opacity='.3' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}

.table.b-table > thead > tr > [aria-sort=descending]:not(.b-table-sort-icon-left) > div:first-child, 
.table.b-table > tfoot > tr > [aria-sort=descending]:not(.b-table-sort-icon-left) > div:first-child{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='black' opacity='.3' d='M51 1l25 23 24 22H1l25-22z'/%3e%3cpath fill='black' d='M51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
}

/* 
to SHOW sort icons by default, set image to URL(..)
to HIDE sort icons by default, set image to none
bu commenting out the appropriate line.
*/
.table.b-table > thead > tr > [aria-sort=none]:not(.b-table-sort-icon-left) > div:first-child, 
.table.b-table > tfoot > tr > [aria-sort=none]:not(.b-table-sort-icon-left) > div:first-child{
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='101' height='101' view-box='0 0 101 101' preserveAspectRatio='none'%3e%3cpath fill='black' opacity='.3' d='M51 1l25 23 24 22H1l25-22zM51 101l25-23 24-22H1l25 22z'/%3e%3c/svg%3e");
    /*background-image: none;*/
}

.table-total-rows {
    float: left;
    font-size: 12px;
    padding-top: 10px;
  }