/* from https://www.w3schools.com/css/css_tooltip.asp */
.byor-tooltip {
    position: relative;
    /*display: inline-block;
    border-bottom: 1px dotted black;*/
}

.byor-tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    font-size: 13px;
    font-weight: 300;
    top: 80%;
    right: 0;
    z-index: 10;
    width: 200px;
}

.byor-tooltip:first-child .tooltiptext {
    left: 0 !important;
    right: unset !important;
}

.byor-tooltip:hover .tooltiptext {
    visibility: visible;
}

/* */

.help-content {
    display: inline-block;
    vertical-align: middle;
    position: relative;
}

.help-content.no-icon-true {
    position: absolute;
    width: 100%;
    height: 100%;
}

.help-content.hover:hover .help-hover-content-modal {
    display: block !important;
}

span.help-content-caller {
    display: block !important;
    width: 1em;
    height: 1em;
    color: #12a83f;
    font-size: 0.75em;
    margin-top: -0.25em;
}

.help-content-caller.no-icon-true {
    position: absolute;
    width: 100%;
    height: 100%;
    color: rgba(47, 86, 135, .0) !important;
    background: none !important;
}

.help-content-caller:hover {
    color: #6ad68a;
    cursor: pointer;
}

.help-content-caller.hover:hover {
    color: #81cafa;
}

.help-content-caller.hover {
    color: #0099ff;
}

.help-content-modal {
    width: 400px;
    height: auto;
    max-height: 600px;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 0;
    padding-top: 30px;
    box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1000;
    text-align: left;
    font-size: initial;
    font-weight: initial;
    color: #000;
    top: 0;
}

.help-hover-content-modal {
    display: none;
    width: 300px;
    height: auto;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 5px;
    padding: 10px 15px 0 0;
    box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.15);
    position: absolute;
    z-index: 1000;
    left: 1em;
    top: 0;
    text-align: left;
    font-size: 14px;
    font-weight: 300;
    color: #000;
    overflow-y: auto;
}

.help-hover-content-modal.no-icon-true {
    left: 40px !important;
}


.help-content-close {
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    display: block;
    right: 5px;
    top: 0;
    font-size: 1.5em;
    font-weight: 900;
    color: #999;
    transform: rotate(-45deg);
    cursor: pointer;
}

.help-content-wrapper {
    max-height: 540px;
    overflow-y: auto;
    padding: 0 25px 0px 0px;
    margin: 0px 0 15px 20px;
    font-size: 14px;
    line-height: 1.45em;
}

.help-hover-content-modal .help-content-wrapper {
    max-height: 540px;
    overflow-y: unset;
    padding: 0;
    margin: 0px 0px 15px 20px;
}

.help-content-close:hover {
    color: #000;
}