body, body.kp-default{
    margin: 0;
    padding: 0;
    height: 100vh;
}
.mat-header, .mat-footer{
    flex: 0 0 auto;
    background: #424242;
    color: white;
    padding: 20px;
}
.mat-body{
    flex-grow: 1;
    /*background: #fff7d0;*/
}

/* LAYOUT STYLES */
.no-events{
    pointer-events: none;
}
.f-col{
    display: flex;
    flex-direction: column;
}
.f-row{
    display: flex;
    flex-direction: row;
}
.f-col.align-v-center{
    justify-content: center;
}
.f-row.align-v-center{
    align-items: center;
}
.f-col.align-h-center{
    align-items: center;
}
.f-row.align-h-center{
    justify-content: center;
}
.f-col.spread-out,
.f-row.spread-out{
    justify-content: space-between;
}
.fill-height{
    height: -moz-available;
    height: -webkit-fill-avaiilable;
    height: fill-available;
    height: 100%;
}
.fill-width{
    width: -moz-available;
    width: -webkit-fill-avaiilable;
    width: fill-available;
    width: 100%;
}
.hug-height{
    height: fit-content;
}
.hug-width{
    width: fit-content
}
.grow-children>*{
    flex-grow: 1;
}