.atac-seq__browser .btn-secondary {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
}
.ReactModal__Content {
    top: 176px !important;
}
.pkb-nav {
    z-index: 0 !important;
}