.atac-seq__browser .btn-secondary {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 2px;
    margin-right: 2px;
    margin-top: 6px;
}
.ReactModal__Content {
    top: 176px !important;
}
.pkb-nav {
    z-index: 0 !important;
}
.TrackLegend-label{
    font-size: small !important;
    margin: 0 0 0 2px;
    line-height: inherit !important;
    word-break: normal !important;

}